<%= render 'sidebar', tweet: @tweet %>


<div class ="col-md-6">
<h1>Tweet数：<strong><%= @tweets.count %></strong></h1>
<h2><%= link_to "ユーザー一覧", users_path %></h2>
<table class= "table table-striped table-bordered table-hover ">
  <thead>
    <tr class = "success">
      <th>Name</th>
      <th>ツイート</th>
      <th>いいね数</th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.user_name %></td>
          <td><%= tweet.content %></td>
          <td><%= tweet.likes.count %></td>
        <td><%= link_to 'Show', tweet %></td>
        <!--<td><%= link_to 'Edit', edit_tweet_path(tweet) %></td> -->
        <% if current_user.id == tweet.user_id %>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
