<h1>Tweets</h1>

<table class= "table table-striped table-bordered table-hover ">
  <thead>
    <tr class = "success">
      <th>Id</th>
      <th>Name</th>
      <th>Content</th>
      <th>Command</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.user_id %></td>
      　<td><%= tweet.user_name %></td>
        <td><%= tweet.content %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <button class = "btn btn btn-success"> <%= link_to 'New Tweet', new_tweet_path %></button>
