
<% provide(:title, @user.name) %>
<<<<<<< HEAD
<h1><%= @user.name %>のマイページ</h1>


<% unless current_user.id == @user.id %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
      <%= link_to "フォロー解除", relationships_path(user_id: @user.id), method: :delete %>
    <% else %>
      <%= link_to "フォローする", relationships_path(user_id: @user.id), method: :post %>
    <% end %>
  </div>
<% end %>

<section class="stats">
  <%= render 'users/stats' %>
</section>
=======
<h1> <%= @user.name %> </h1>のマイページ


<h3> ツイート一覧 </h3>
<ul class="tweets">
  <!-- ここで@notesに対してeachメソッドを用いてください -->
  <% @tweets.each do |tweet| %>
  <li><%= link_to tweet.content, tweet %></li>
  <% end %>
</ul>


<% @user ||= current_user %>
<div class = "stats">
  <a href = "<%= following_user_path(@user) %>">
    <strong id = "following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  <a href = "<%= followers_user_path(@user) %>">
    <strong id ="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>

<%= render 'follow_form' if user_sign_in? %>
>>>>>>> origin/master
