<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.name %></h1>
      <span><b>Tweets:</b> <%= @user.tweets.count %></span>
    </section>
    <section>
      <%= render 'users/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <% @followings.each do |following| %> <%#リレーションショップテーブルの中で、フォローidがユーザーidと一致するものをとってくる %>
        <tr>
          <li><%= @users.find_by(id: following.follower_id).name %></li> <%# ユーザー全体の中でとってきた配列のフォロワーIDとIDと一致する名前を出力%>
        </tr>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>
