
<% provide(:title, @user.name) %>
<h1><%= @user.name %>のマイページ</h1>


<% unless current_user.id == @user.id %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
      <%= link_to "フォロー解除", relationships_path(user_id: @user.id), method: :delete %>
    <% else %>
      <%= link_to "フォローする", relationships_path(user_id: @user.id), method: :post %>
    <% end %>
  </div>
<% end %>

<section class="stats">
  <%= render 'users/stats' %>
</section>
</br>

<p>ツイート一覧</p>
 <% @tweets.each do |tweet| %>
 <li><%= tweet.content %></li>
 <%= tweet.created_at %>
 <% end %>
